extends: eslint:recommended
rules:
  array-bracket-spacing:
  - error
  - always
  block-scoped-var: error
  brace-style:
  - error
  - 1tbs
  - allowSingleLine: true
  camelcase:
  - error
  - properties: never
  comma-dangle:
  - error
  - arrays: always-multiline
    objects: always-multiline
    imports: always-multiline
    exports: always-multiline
    functions: always-multiline
  comma-spacing:
  - error
  - after: true
    before: false
  comma-style:
  - error
  - last
  curly:
  - error
  - all
  dot-notation:
  - error
  - allowKeywords: true
  eqeqeq:
  - error
  - allow-null
  guard-for-in: error
  indent:
  - error
  - 2
  - SwitchCase: 1
  keyword-spacing: error
  linebreak-style: error
  new-cap: error
  no-caller: error
  no-else-return:
  - error
  - allowElseIf: false
  no-eval: error
  no-extend-native: error
  no-iterator: error
  no-loop-func: error
  no-multi-str: error
  no-multiple-empty-lines:
  - error
  - max: 1
    maxBOF: 0
    maxEOF: 0
  no-new-wrappers: error
  no-proto: error
  no-script-url: error
  no-sequences: error
  no-spaced-func: error
  no-trailing-spaces: error
  no-unneeded-ternary: error
  no-with: error
  object-curly-spacing:
  - error
  - always
  object-shorthand:
  - error
  one-var:
  - error
  - initialized: never
  operator-linebreak:
  - error
  - before
  padded-blocks:
  - error
  - never
  padding-line-between-statements:
  - error
  - blankLine: always
    prev:
    - const
    - let
    - var
    next: "*"
  - blankLine: any
    prev:
    - const
    - let
    - var
    next:
    - const
    - let
    - var
  prefer-arrow-callback: error
  prefer-const: error
  prefer-spread: error
  quotes:
  - error
  - single
  - avoidEscape: true
  semi:
  - error
  - always
  semi-spacing:
  - error
  - after: true
    before: false
  space-before-blocks:
  - error
  - always
  space-before-function-paren:
  - error
  - named: never
    anonymous: never
    asyncArrow: always
  space-in-parens:
  - error
  - never
  space-infix-ops: error
  space-unary-ops:
  - error
  - nonwords: false
    words: true
  strict:
  - error
  - safe
  wrap-iife:
  - error
  - outside
